DB_USERNAME=roland
DB_PASSWORD=rhinos
DB_PORT=27017
DB_DATABASE=blogWatcher
DB_AUTHENTICATION_DATABASE=blogWatcher
MD_FILE_STORE_LOCATION=content
DEBUG_COLORS=true

ROOT=/usr/src/app
PORT=3000

# generate a secret key with ruby: ruby -rsecurerandom -e 'puts SecureRandom.hex(20)'
GITHUB_SECRET=SOMERANDOMSTRING
